div.image {
    height: 10em;
    position: relative }
div.image img {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 150%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
/*  background-color: #efefef;*/
  text-align: center;
}