html, body{
  margin: 0px;
  padding: 0px;
  font-size: 100%;
}
img.logo
{
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
}
img.logo:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@media screen and (orientation: portrait) {
  img.logo { max-width: 26%; }
}

@media screen and (orientation: landscape) {
  img.logo { max-height: 26%; }
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  text-align: center;
  font-size: 0.8em;
  color: #706f6f;
}
